{{#if user}}
  <h1>Welcome to this private page</h1>
  <img
    src="./../public/images/CSwV8GyXAAQtW-k.jpg"
    alt="Image from show Always Sunny in Philadelphia"
  />
{{else}}
  <h1>You do not have access to this page</h1>
{{/if}}