<form method="POST">
  <label for="input-username">Username</label>
  <input
    id="input-username"
    type="text"
    placeholder="Username"
    name="username"
  />

  <label for="input-password">Password</label>
  <input
    id="input-password"
    type="password"
    placeholder="A secure password"
    name="password"
  />

  <button>Create new account</button>
</form>